/*  your css code here. If applicable */

div {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

#inner {
    width: 50px;
    height: 50px;
    border: solid 25px #0000ff;
    background-color: #800080;
    border-radius: 50%;
}

#middle {
    width: 150px;
    height: 150px;
    border: solid 25px #ffff00;
    background-color: #008000;
    border-radius: 50%;
}

#outer {
    width: 250px;
    height: 250px;
    border: solid 25px #ff0000;
    background-color: #ffa500;
    border-radius: 50%;
}